flask
cryptography
requests
python-dotenv
flask-socketio
pandas
flask-sqlalchemy
flask-jwt-extended
flask-wtf
flask-limiter
flask-assets
flask-migrate
psycopg2-binary
stripe
paypalrestsdk
email-validator
tenacity
redis
sentry-sdk
eventlet
python-daraja
python-magic-bin  # Corrected from libmagic and pyhton-magic
Pillow
webauthn  # Added for WebAuthn support
cbor2  # Required for webauthn
qrcode  # Added for QR code generation
python-dateutil  # Required for date parsing
werkzeug  # Included for Flask's underlying utilities