flask
cryptography
requests
python-dotenv
flask-socketio
pandas
flask-sqlalchemy
flask-jwt-extended
flask-wtf
flask-limiter
flask-assets
flask-migrate
psycopg2-binary
stripe
paypalrestsdk
email-validator
tenacity
redis
sentry-sdk
eventlet
python-daraja
libmagic
pyhton-magic